<%= link_to service_path(service) do %>

  <%# if service.photo.attached? %>
    <%#= cl_image_tag service.photo.key, height: 100, width: 100, crop: :fill  %>
  <%# else %>
    <%= image_tag "https://res.cloudinary.com/dhj0qswpc/image/upload/v1613696409/lqa75pzo9l9b3iqr83cjzq1iz9pm.jpg", width: '320', height: '280', class: "card-image-index" %>
  <%# end %>

<% end %>
<h2><%= link_to service.name, service_path(service) %></h2>
<h3><%= service.service_address %></h3>
<p>£<%= service.price_per_hour %></p>