<%= link_to service_path(service) do %>

  <%# if service.photo.attached? %>
    <%#= cl_image_tag service.photo.key, height: 100, width: 100, crop: :fill  %>
  <%# else %>
  <%= image_tag "https://res.cloudinary.com/dhj0qswpc/image/upload/v1614381454/Mask_Group-1_rihl6o.jpg", width: '220', height: '150' %>
  <% end %>

  <h5><strong><%= link_to service.trainer.first_name, service_path(service) %></strong></h5>
  <h7><%= service.service_address %></h7>
  <h7>£<%= service.price_per_hour %></h7>