<div class="home-banner">
  <div class="banner-image" style="background-color: #010101; url(); background-position: center; background-size: cover; height: 250px;">
<!--    <input type="text" placeholder="e.g. SW8 2LP">-->
    <div class="banner-text" style="left: 34%;">
      <h3 style="">AVAILABLE TRAINERS</h3>
    </div>
  </div>
</div>
<div class='container'>

    <div class='justify-content-center'>
    <div class="float" style="overflow: hidden; margin: 48px 0 16px;">
      <h1 style="color: #333333; font-family:'Days One'; float: left; padding: 0;"></h1>
      <div class="mb-3" style="float:right; padding-top: 12px;">
        <%= form_with(url: services_path, method: :get, local: true) do |form| %>
          <%= form.select :order, ["Price High to Low", "Price Low to High"] %>
          <%#= select_tag 'service_id', options_for_select(@services.collect{ |u| [u.service_address] })%>
          <%= form.submit "Sort" %>
        <% end%>
      </div>
    </div>
  
    <div class="cards-services">

      <% @services.each do |service| %>

        <div class="card" style="margin-bottom: 30px; width: 360px;">
          <div class="card-body"">
            <div class="card-photo"  style="position: relative;>
              <a href="<%= service_path(service) %>">
                <% if service.photo.attached? %>
                  <%= cl_image_tag service.photo.key, class:"background-photo", height: 280, width: 322, crop: :fill %>
                <% else %>
                  <%= image_tag "https://res.cloudinary.com/dhj0qswpc/image/upload/v1614381454/Mask_Group-1_rihl6o.jpg", width: '320', height: '280' %>
                <% end %>
                <% if service.trainer.profile_pic.attached? %>
                  <%= cl_image_tag service.trainer.profile_pic.key, class: "avatar-large", alt: "avatar-large" %>
                <% end %>
              </a>
            </div>
            <div class="card-text" style="text-align: center">
              <div class="card-title" style= "margin-top: 70px; font-size: 24px; margin-bottom: 9px;">
                <strong><%= service.trainer.first_name %> <%= service.trainer.last_name %></strong>
              </div>

              <div class="d-flex flex-column" style="font-family: 'Open Sans';">
                <p style="font-style: italic; color: #555555;"><%= service.details %></p>
                <p style="color: #ffffff; padding: 1px 14px; border-radius: 4px; width: fit-content; margin: 0 auto; margin-bottom: 1rem; background-color: #ff1e1e;"><%= service.category.name %></p>
                <p style="font-weight: bold; font-size: 18px;">£<%= service.price_per_hour %></p>
                <p style="font-size: 12px; color: #656565;"><%= service.service_address %></p>
              </div>
            </div>
          </div>
        </div>

      <% end %>

    </div>

  </div>
  

</div>

