<h1>YOUR  SERVICES</h1>

<div>
  <%= link_to "Add a new serrvice", new_service_path, type: "button", class: "btn btn-primary mt-2" %>
</div>

<% @services.each do |service| %>
<div class="card-product">
  <a href="<%= service_path(service) %>">
    <% if service.photo.attached? %>
      <%= cl_image_tag service.photo.key, height: 280, width: 322, crop: :fill %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/dhj0qswpc/image/upload/v1614381454/Mask_Group-1_rihl6o.jpg", width: '320', height: '280' %>
    <% end %> </a>
  <div class="card-product-infos">
    <h2> <%= service.trainer.first_name %></h2>
    <p><%= service.details %> for ONLY <strong>£<%= service.price_per_hour %></strong> per hour</p>
    <p>you can find me in <strong><%= service.service_address %></strong></p>
  </div>
</div>
<% end %>
