<link href="https://fonts.googleapis.com/css?family=Days+One&display=swap" rel="stylesheet">
<div class="home-banner">
  <div class="banner-image" style="background-color: #010101; url('https://images.unsplash.com/photo-1434719079929-f61498a4828e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80.jpg'); background-position: center; background-size: cover; height: 300px;">
    <!--    <input type="text" placeholder="e.g. SW8 2LP">-->
    <div class="banner-text" style="left: 36%;">
      <h3>ADD /REMOVE SERVICES</h3>
    </div>
  </div>
</div>
<div style="left: 39%; background-image: url('https://images.unsplash.com/photo-1484950763426-56b5bf172dbb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80.jpg'); background-size: cover;" >
<div class="container">
 
  <div class="form-login" style="background: #EFEFEF;
                                 padding:10px 20px;
                                 border-radius:12px;
                                 box-shadow:2px 2px 2px rgba(0, 0, 0, 0.1)">
 
 
 <%= simple_form_for @service do |f| %> 
  

  <%= f.input :details %>
  <%= f.input :price_per_hour %>
  <%= f.input :service_address %>
  <%= f.association :category, input_html: { class: 'select2-multiple' }, :multiple => "multiple"  %>
  <%= f.input :photo, as: :file %>
  
  Is it indoor service?<%= f.input :indoor, as: :boolean, checked_value: true, unchecked_value: false %>
  <%= f.button :submit, class: 'btn btn-danger' %>
  <%= link_to "Return to My Services", my_services_services_path, class: "btn btn-danger" %>
  
 <% end %>
  
  </div>
 </div>
</div>

