
<div class="row">
  <div class="col-sm-6">
    
      <div class="img">
        
      </div>
    
  </div>

  <div class="col-sm-6">
    <div class="sign-up-card">
      

        <h2>Create Account</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :first_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Given name" },
                        label_html: { class: 'text-class' }%>
            <%= f.input :last_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Surname" },
                        label_html: { class: 'text-class' }%>
            <%= f.input :address,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "address" },
                        label_html: { class: 'text-class' } %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" },
                        label_html: { class: 'text-class' }%>
            <%= f.label :profile_pic, 'Upload your profile picture:' %>

            <%= f.file_field :profile_pic, direct_upload: true %>
            <div>     
            Are you a trainer? <%= f.input_field :trainer, as: :boolean, checked_value: true, unchecked_value: false%>
            </div>
            
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" },
                        label_html: { class: 'text-class' } %> 
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" },
                        label_html: { class: 'text-class' } %> 
                       
          </div>

          <div class="d-flex justify-content-center">
          <div class="form-actions btn btn-dark">
            <%= f.button :submit, "Sign up" %>
        
        <% end %>

          </div>    
      </div>
    </div>
  </div>
</div>