<h1>This is the booking new page</h1>



<div class= "container">
  <div class="justify-content-center">
    <h2>Do you want to book this trainer: <%= @service.name %> </h2>
    <h3> Details: <%= @service.details %> </h3>
    <h3> Price: <%= @service.price_per_hour %> </h3>
    <h3> Spotter: <%= @service.name %> </h3>
  </div>
</div>



<h2>Select your dates (Add calender to page)</h2>

<div class="calendar">
  <div class="calendar__picture">
    <h2>BOOKING REQUEST</h2>
  </div>
  <div >
    <%= simple_form_for [@service, @booking] do |f| %>
    <%= f.input :start_date, as: :datetime, required: false, input_html: {class: "datetimepicker"} %>
    <%= f.input :end_date, as: :datetime, required: false, input_html: {class: "datetimepicker"} %>
    <%= f.submit "Book it", class: "btn btn-secondary" %>
  <% end %>

  </div>
</div>


