<!--<div id="booking" class="section">-->
<!--  <div class="section-center">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="booking-form">-->
<!--          <div class="booking-bg">-->
<!--            <div class="form-header">-->
              <h1> Spotter: <%= @service.trainer.first_name %><%= @service.trainer.last_name %> </h1>
              <h6><b>Details:</b> <%= @service.details %> </h6>
              <h6><b>£ Hourly Rate:</b> <%= @service.price_per_hour %> </h6>
<!--            </div>-->
<!--          </div>-->
<!--          <form>-->
<!--            <div class="row">-->
<!--              <div class="col-md-12">-->
<!--                <div class="form-group ">-->
                  <%= simple_form_for [@service, @booking] do |f| %>
                    <%= f.input :start_date, as: :datetime, required: false, input_html: { class: "datetimepicker" } %>
<!--                    </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-12">-->
<!--                      <div class="form-group">-->
                        <%= f.input :end_date, as: :datetime, required: false,  input_html: { class: "datetimepicker" } %>
<!--                      </div>-->
<!--                    </div>-->
<!--                    </div>-->
<!--                    <div class="form-btn">-->
                      <%= f.submit "Get Spotted", class: "btn btn-dark" %>
                  <% end %>
<!--                  </div>-->
<!--                  </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


