

<div class="centre">
  <div class="nav-left">
    <div class="nav-logo">
      <a href="<%= root_path%>">
        <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1615489648/2_dzrs8e.png">
      </a>
    </div>

    <ul class="menu-wrap">
      <li><a href="<%= services_path %>">Find your Trainer</a></li>
      <% if user_signed_in? %>
        <%# if current_user.trainer? %>
        <li>
          <a  href="<%= my_services_services_path%>" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage your services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="<%= my_services_services_path%>">Your services</a>
            <a class="dropdown-item" href="<%= bookings_bookings_requests_path %>">Booking requests</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= my_bookings_path %>">My bookings</a>
          </div>
        </li>
        <% else %>
        <li><a href="<%= new_user_session_path%>">Become a trainer</a></li>
        <% end %>
    </ul>
  </div>





  <% if user_signed_in? %>
    <div class="nav-right">
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <% if current_user.profile_pic.attached? %>
        <%= cl_image_tag current_user.profile_pic.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/odayadli", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
    </div>
  <% else %>
  <div class="nav-right">
    <%= link_to "Login", new_user_session_path %>
  <% end %>
  </div>
</div>


<!--<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">-->
<!--  <div class="navbar navbar-left">-->
<!--    <a href="<%#= root_path %>" class="navbar-brand">-->
      <%#= image_tag "https://res.cloudinary.com/ds188a5lw/image/upload/v1614432256/nav_logo_ogyoqc.jpg" %>
<!--    </a>-->
<!--  </div>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->


<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <ul class="navbar-nav mr-auto">-->
      <%# if user_signed_in? %>
<!--        <li class="nav-item dropdown">-->
          <%# if current_user.profile_pic.attached? %>
            <%#= cl_image_tag current_user.profile_pic.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%# else %>
            <%#= image_tag "https://kitt.lewagon.com/placeholder/users/odayadli", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%# end %>
<!--          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">-->
            <%#= link_to "Home", root_path, class: "dropdown-item" %>

              <%#= link_to "My services", my_services_services_path, class: "dropdown-item" %>
              <%#= link_to "Listings request", bookings_bookings_requests_path, class: "dropdown-item" %>
            <%# else %>
              <%#= link_to "Manage my bookings", my_bookings_path, class: "dropdown-item" %>
            <%# end %>
            <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
<!--          </div>-->
<!--        </li>-->
      <%# else %>
<!--        <li class="nav-item">-->
          <%#= link_to "Login", new_user_session_path, class: "nav-link btn btn-info private log-in" %>
<!--        </li>-->
      <%# end %>
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->





