<div class="centre">
  <div class="nav-left">
    <div class="nav-logo">
      <a href="<%= root_path%>">
        <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614432256/nav_logo_ogyoqc.jpg">
      </a>
    </div>

    <ul class="menu-wrap">
      <li><a href="<%= services_path %>">Find your Trainer</a></li>
      <% if user_signed_in? %>
        <li>
          <a  href="<%= my_services_services_path%>" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage your services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="<%= my_services_services_path%>">Your services</a>
            <a class="dropdown-item" href="<%= bookings_bookings_requests_path %>">Booking requests</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= my_bookings_path %>">My bookings</a>
          </div>
        </li>
        <% else %>
        <li><a href="<%= new_user_session_path%>">Become a trainer</a></li>
        <% end %>
      <li><a href="<%= root_path%>">Contact</a></li>
    </ul>
  </div>





  <% if user_signed_in? %>
    <div class="nav-right">
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </div>
  <% else %>
  <div class="nav-right">
    <%= link_to "Login", new_user_session_path %>
  <% end %>
  </div>
</div>
