<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class="nav-logo">
    <a href="<%= root_path%>">
      <%= image_tag "https://res.cloudinary.com/dhj0qswpc/image/upload/v1616093468/2_dzrs8e_j848xn.png", class: "logo-img"%>
      <%= image_tag "https://res.cloudinary.com/dhj0qswpc/image/upload/v1615739986/spot_Logo_1_zm9cci.png", class: "logo-img2"%>
    </a>
  </div>

  <ul class="menu-wrap">
    <li class="nav-option"><a href="<%= services_path %>">FIND A TRAINER</a></li>
    <% if user_signed_in? && current_user.trainer?%>
      <li class="nav-option">
        <a  href="<%= my_services_services_path%>">
        BECOME A TRAINER
        </a>
      </li>
      <% elsif !user_signed_in? %>
      <li class="nav-option">
        <a  href="<%= new_user_session_path%>">
          BECOME A TRAINER
        </a>
      </li>
    <% else %>
      <li class="nav-option"><a href="<%= services_access_denied_path%>"> BECOME A TRAINER</a></li>
    <% end %>
  </ul>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.profile_pic.attached? %>
            <%= cl_image_tag current_user.profile_pic.key, transformation: {width: 40, height: 40, gravity: "face", radius: "max", crop: "thumb" }, class: "avatar dropdown-toggle zoom", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/odayadli", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if current_user.trainer? %>
              <%= link_to "Manage your services", my_services_services_path, class: "dropdown-item fas fa-dumbbell" %>
              <%= link_to "Manage your booking requests", bookings_bookings_requests_path, class: "dropdown-item fas fa-book" %>
            <% else %>
              <%= link_to "Manage my bookings", my_bookings_path, class: "dropdown-item fas fa-book" %>
            <% end %>
            <%= link_to "Edit your profile", edit_user_registration_path, class: "dropdown-item fas fa-user" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item  fas fa-sign-out-alt" %>
          </div>
        </li>
      <% else %>
        <div style="font-family: Days One">
        <%= link_to "LOGIN", new_user_session_path %>
    <% end %>
      </div>
    </ul>
  </div>
</div>

