<div class="review-card">
  <h4>Tell us how your session with <span><%= @booking.service.trainer.first_name %></span> was!</h4>
  <%= simple_form_for [@booking, @review], id: "review-form" do |f| %>
    <%= f.input :description, label: "Write your review below", placeholder: "What did you like or dislike? Did you focus on something specific?" %>
    <div class="star-rating">
      <%= f.input :rating, label: "Give your spotter a rating!", input_html: { id: "rating", class: "hidden", value: "" } %>
      <i class="fas fa-star hidden selected"></i>
      <i class="fas fa-star" data-value="1"></i>
      <i class="fas fa-star" data-value="2"></i>
      <i class="fas fa-star" data-value="3"></i>
      <i class="fas fa-star" data-value="4"></i>
      <i class="fas fa-star" data-value="5"></i>


    </div>
    <%= f.submit class: 'review-new-button text-review' %>
    <!--      <div class="progress-bar"></div>-->
<% end %>
</div>