<div class="home-banner">
  <div class="banner-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dhj0qswpc/image/upload/v1614374710/banner_photo_vtqti0.jpg'); background-position: center; background-size: cover">
  <div class="banner-text">
    <h3>Find a trainer.<br>Be a trainer.</h3>
    <%= form_with(url: services_filter_distance_path, method: :get, local: true) do |f| %>
      <%= text_field_tag :search, params[:search], placeholder: "e.g. SW8 2LP" %>
      <%= f.select :order, ["1km", "5km", "10km", "20km"], class: "distance" %>
      <%= submit_tag 'Search', class: 'search-button' %>
    <% end %>
    <%#= form_with(url: services_path, method: :get, local: true) do |form| %>
      <%#= select_tag 'service_id', options_for_select(@services.collect{ |u| [u.service_address] })%>
      <%#= form.submit "Sort" %>
    <%# end%>

  </div>
<!--    <input type="text" placeholder="e.g. SW8 2LP">-->

  </div>
</div>

<div class="contents">
  <div class="centre">
    <div class="top-rated">
      <h3 class="trainers_title">Top Rated Trainers in London</h3>
      <div class="trainers">
        <div class="trainer1" style="box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034)">
          <a href="">
            <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614424257/cycling2_1_gqlrop.jpg">   
            <h3 class="trainer_name">Gillis Rikardsson</h3>
            <p class="trainer_description">Let me take you for a spin!</p>
          </a> 
        </div>
        <div class="trainer2" style="box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034)" >
          <a href="">
            <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614423879/trainer_zavqtc.jpg"> 
            <h3 class="trainer_name">Oday Abu Saleh</h3>
            <p class="trainer_description">I have nothing to offer but blood,toil and sweat!</p>
          </a>
        </div>
        <div class="trainer3" style="box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034)">
          <a href="">
            <img src="https://res.cloudinary.com/ds188a5lw/image/upload/v1614384771/Mask_Group_lphqhh.jpg">   
            <h3 class="trainer_name">Roberto Silva</h3>
            <p class="trainer_description">With great gains come great responsibility.</p>
          </a>
        </div>
      </div>
    </div>

    <div class="cities_wrap">
       <h3 class="city-title">Browse by Cities</h3>
        <div class="cities">
         <div class="city1">
         <%= link_to services_path(tag: "London")  do %>
            <img src="https://res.cloudinary.com/dhj0qswpc/image/upload/v1615757279/anastase-maragos-FP7cfYPPUKM-unsplash_fqjaz1.jpg">
            <div class="city-text">
              <h3 class="city-name">London</h3>
              <p class="city-description">150,000+ Trainers</p>
            </div>
           <% end %>
         </div>
          <div class="city2">
            <%= link_to services_path(tag: "Manchester")  do %>
          <img src="https://res.cloudinary.com/dhj0qswpc/image/upload/v1615757292/metin-ozer-QCT6sigBEIs-unsplash_eyzzhq.jpg">
              <div class="city-text">
                <h3 class="city-name">Manchester</h3>
                <p class="city-description">80,000+ Trainers</p>
              </div>
          <% end %>
          </div>
          <div class="city3">
            <%= link_to services_path(tag: "Reading")  do %>
              <img src="https://res.cloudinary.com/dhj0qswpc/image/upload/v1615757299/kike-vega-F2qh3yjz6Jk-unsplash_eoif1h.jpg">
              <div class="city-text">    
                <h3 class="city-name">Reading</h3>
                <p class="city-description">20,000+ Trainers</p>
              </div>
            <% end %>
         </div>
         <div class="city4">
           <%= link_to services_path(tag: "Bristol")  do %>
              <img src="https://res.cloudinary.com/dhj0qswpc/image/upload/v1615757302/tony-woodhead-kYdkUweH8QU-unsplash_nhvsg5.jpg">
              <div class="city-text"> 
                <h3 class="city-name">Bristol</h3>
                <p class="city-description">40,000+ Trainers</p>
              </div>
           <% end %>
         </div>
         <div class="city5">
           <%= link_to services_path(tag: "Liverpool")  do %>
            <img src="https://res.cloudinary.com/dhj0qswpc/image/upload/v1615757298/jonathan-borba-H6wTktsFxik-unsplash_rha5al.jpg">
            <div class="city-text">
              <h3 class="city-name">Liverpool</h3>
              <p class="city-description">60,000+ Trainers</p>
            </div>
             <% end %>
         </div>
         <div class="city6">
           <%= link_to services_path(tag: "Leeds")  do %>
            <img src="https://res.cloudinary.com/dhj0qswpc/image/upload/v1615757307/sam-knight-lFR7N0TCR_E-unsplash_uopqkq.jpg">
            <div class="city-text">
              <h3 class="city-name">Leeds</h3>
              <p class="city-description">50,000+ Trainers</p>
            </div>
             <% end %>
         </div>
      </div>


    </div>

  </div>
</div>
