<div class="home-banner">
  <div class="banner-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dhj0qswpc/image/upload/v1614374710/banner_photo_vtqti0.jpg'); background-position: center; background-size: cover">
    <div class="banner-homepage">
      <h3>FIND A <span>SPOTTER</span> <br>BE A <span>SPOTTER</span> </h3>
      <%= form_with(url: services_path, method: :get, local: true) do |f| %>
        <%= text_field_tag :search, params[:search], placeholder: "Postcode or location" %>
        <%= f.select :order, ["1km", "5km", "10km", "20km"], class: "distance" %>
        <%= submit_tag 'Serarch', class: 'search-button' %>
      <% end %>
      <%#= form_with(url: services_path, method: :get, local: true) do |form| %>
        <%#= select_tag 'service_id', options_for_select(@services.collect{ |u| [u.service_address] })%>
        <%#= form.submit "Sort" %>
      <%# end%>
      <h4>Search for activity in your area</h4>
    </div>
<!--    <input type="text" placeholder="e.g. SW8 2LP">-->
  </div>
</div>

<div class="contents">
  <div class="centre">
    <div class="headder1">
      <br>
      <h2>A PLATFORM WHICH BRINGS PEOPLE TOGETHER</h2>
      <div class="homepage-h3">
      <h3>Find a personal trainer | Become a personal trainer </h3>
      <br>
      </div>
    <div class="top-rated">
      <h3 class="trainers_title">Top rated spotters in London</h3>
      <div class="trainers">
        <div class="trainer1" style="box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034)">
          <a href="">

            <img src="https://images.unsplash.com/photo-1606335544053-c43609e6155d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80.jpg">
            <h3 class="trainer_name">Bill Thornton</h3>
            <p class="trainer_description">I have nothing to offer but blood,toil and sweat!</p>
          </a>
        </div>
        <div class="trainer2" style="box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034)" >
          <a href="">
            <img src="https://images.unsplash.com/photo-1578924608828-79a71150f711?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1054&q=80.jpg">
            <h3 class="trainer_name">Gary Maxwell</h3>

            <p class="trainer_description">Let me take you for a spin!</p>
          </a>
        </div>
        <div class="trainer3" style="box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034)">
          <a href="">
            <img src="https://images.unsplash.com/photo-1535469618671-e58a8c365cbd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80.jpg">
            <h3 class="trainer_name">Martha Silva</h3>
            <p class="trainer_description">With great gains come great responsibility.</p>
          </a>
        </div>
      </div>
    </div>
    <h3>Unlimited offering across a range of activities<h3>
  <div class="homepage-h3">
    <h3> Strength and Conditioning | CrossFit | Calisthenics | Pilates | Yoga | Dance | Boxing | Tennis | Basketball  </h3>
    <br>
    <br>
    <br>
  </div>
    <div class="cities_wrap">
       <h3 class="city-title">Browse by Cities</h3>
        <div class="cities">
         <div class="city1">
         <%= link_to services_path(tag: "London")  do %>
            <img src="https://res.cloudinary.com/dhj0qswpc/image/upload/v1615757279/anastase-maragos-FP7cfYPPUKM-unsplash_fqjaz1.jpg">
            <div class="city-text">
              <h3 class="city-name">London</h3>
              <p class="city-description">950+ Trainers</p>
            </div>
           <% end %>
         </div>
          <div class="city2">
            <%= link_to services_path(tag: "Manchester")  do %>
          <img src="https://res.cloudinary.com/dhj0qswpc/image/upload/v1615757292/metin-ozer-QCT6sigBEIs-unsplash_eyzzhq.jpg">
              <div class="city-text">
                <h3 class="city-name">Manchester</h3>
                <p class="city-description">800+ Trainers</p>
              </div>
          <% end %>
          </div>
          <div class="city3">
            <%= link_to services_path(tag: "Reading")  do %>
              <img src="https://res.cloudinary.com/dhj0qswpc/image/upload/v1615757299/kike-vega-F2qh3yjz6Jk-unsplash_eoif1h.jpg">
              <div class="city-text">
                <h3 class="city-name">Reading</h3>
                <p class="city-description">200+ Trainers</p>
              </div>
            <% end %>
         </div>
         <div class="city4">
           <%= link_to services_path(tag: "Bristol")  do %>
              <img src="https://res.cloudinary.com/dhj0qswpc/image/upload/v1615757302/tony-woodhead-kYdkUweH8QU-unsplash_nhvsg5.jpg">
              <div class="city-text">
                <h3 class="city-name">Bristol</h3>
                <p class="city-description">400+ Trainers</p>
              </div>
           <% end %>
         </div>
         <div class="city5">
           <%= link_to services_path(tag: "Liverpool")  do %>
            <img src="https://res.cloudinary.com/dhj0qswpc/image/upload/v1615757298/jonathan-borba-H6wTktsFxik-unsplash_rha5al.jpg">
            <div class="city-text">
              <h3 class="city-name">Liverpool</h3>
              <p class="city-description">600+ Trainers</p>
            </div>
             <% end %>
         </div>
         <div class="city6">
           <%= link_to services_path(tag: "Leeds")  do %>
            <img src="https://res.cloudinary.com/dhj0qswpc/image/upload/v1615757307/sam-knight-lFR7N0TCR_E-unsplash_uopqkq.jpg">
            <div class="city-text">
              <h3 class="city-name">Leeds</h3>
              <p class="city-description">500+ Trainers</p>
            </div>
             <% end %>
         </div>
      </div>


    </div>

  </div>
</div>
